* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
}

window#waybar {
  background-color: #2e3440;
  color: #cdd6f4;
  border-bottom: 2.5px solid #272c35;
}

#custom-clock-toggle, #battery, #network, #pulseaudio, #tray {
  padding: 0 10px;
}

#custom-clock-toggle {
    padding-right: 25px;
}

#workspaces {
    border-radius: 5;
    border: 2px solid #272c35;
    margin-bottom: 4;
    margin-top: 2.5;
}

#workspaces button {
    background-color: #363c4a;
    padding: 2.5px 5px;
    border-radius: 0;
    border: none;
    transition: 0.1s;
}

#workspaces button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#workspaces button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#workspaces button:hover, #workspaces button.active {
    background-color: #2e3440;
}