window#waybar.top {
    background: rgba(0, 0, 0, 0.50);
    border: 1px solid rgba(93, 232, 90, 0.25);
    border-radius: 10px;
}

#custom-menu {
    background-color: rgba(93, 232, 90, 1);

    border: 1px solid rgba(50, 175, 90, 1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    font-size: 20px;

    margin-left: 3.5px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;

    padding-left: 5px;
    padding-right: 10px;

    transition: all 150ms 0s ease-out;
}

#custom-menu:hover {
    background-color: rgb(55, 156, 54);
    border: 1px solid rgb(31, 109, 35);
    transition: all 150ms 0s ease-in;
}

#workspaces {
    background-color: rgba(93, 232, 90, 1);

    font-size: 20px;

    margin-left: 3.5px;
    margin-top: 3.5px;

    margin-bottom: 3.5px;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
#workspaces button {
    color: rgb(255, 255, 255);
    padding: 0px 5px;
}
#workspaces button.active {
    color: rgba(50, 175, 90, 1);
}