@import url("colors.css");

window#waybar.top {
    color: @neutral;
    background: rgba(0, 0, 0, 0.50);
    border: 1px solid alpha(@border, 0.35);
    border-radius: 10px;
}

#custom-menu {
    background-color: @background;

    border: 1px solid @border;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    font-size: 20px;

    margin-left: 3.5px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;

    padding-left: 5px;
    padding-right: 10px;

    transition: all 150ms 0s ease-out;
}

#custom-menu:hover {
    background-color: @l_background;
    border: 1px solid @l_border;
    transition: all 150ms 0s ease-in;
}

#workspaces {
    background-color: @background;

    font-size: 20px;

    margin-left: 2.5px;
    margin-top: 3.5px;

    margin-bottom: 3.5px;

    border: 1px solid @border;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
#workspaces button {
    color: @neutral;
    transition: all 125ms ease-out;
    padding: 0px 5px;
    border: none;
}
#workspaces button.active {
    color: @accent;
    transition: all 125ms ease-in;
}
#workspaces button:hover {
    text-shadow: -1px 0 @accent, 0 1px @accent, 1px 0 @accent, 0 -1px @accent;
    background: none;
}

#window { margin-left: 5px; }
window#waybar.empty { color: transparent; }